<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @message.sender.name %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @message.recipient.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@message.photo.url) if @message.photo.url.present? %>
</p>

<p>
  <strong>Read at:</strong>
  <%= @message.read_at %>
</p>

<%= link_to 'Back', messages_path %>

